[submodule "src/ifcopenshell-python/ifcopenshell/mvd"]
	path = src/ifcopenshell-python/ifcopenshell/mvd
	url = https://github.com/opensourceBIM/python-mvdxml/
[submodule "src/ifcopenshell-python/test/Sample-BIM-Files"]
	path = src/ifcopenshell-python/test/Sample-BIM-Files
	url = https://github.com/IfcOpenShell/ids-test-files
[submodule "src/ifcconvert/cityjson"]
	path = src/ifcconvert/cityjson
	url = https://github.com/IfcOpenShell/ifc-to-cityjson
